/*
global varibale:
*/
// ======================================================


// font size
$font-size: 1rem; // default size 16px based on html
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

// heading
$heading1: 3rem;
$heading2: 2rem;
$heading3: 1.5rem;

// mobile pad pc
$breakpoints: (
  'small': (min-width: 800px),
  'medium': (min-width: 1000px),
  'large': (min-width: 1200px),
);
