@import "normalize";
@import "variable";
@import "container";
@import "grid";
@import "text";

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function to-deg($value) {
  @return strip-unit($value) * 360deg;
}



// 测试使用样式：
.bg {
  background: #ececec;
  padding: 1rem;
  border-radius: 0.1rem;
}

.grid {

  & > div {
    margin: 0.5rem; // how to solve margin [each other]
    background: #007FFF;
    padding:0.5rem;
    color: #fff;
    line-height:2rem;
  }
}
